src/clientversion.cpp export-subst
src/CMakeLists.txt export-subst
contrib/bitstar/ops/* text eol=lf
contrib/bitstar/windows/*.bat text eol=crlf
contrib/bitstar/release/*.ps1 text eol=crlf
contrib/bitstar/release/*.sh text eol=lf
